<div class="container">
  <h2 class="my-5">マイページ</h2>
  <div class="row">
    <div class="col-md-6 mb-5">
        <div class="col-md-12 mb-3">
          <h5>氏名</h5>
          <%= @customer.last_name + @customer.first_name%>
        </div>
        <div class="col-md-12 mb-3">
          <h5>カナ</h5>
          <%= @customer.last_name_kana + @customer.first_name_kana %>
        </div>
    </div>
    <!--<div class="col-md-6 mb-5">-->
      <div class="d-flex align-items-end">
        <p><%= link_to "編集する",customers_information_edit_path, class:"btn btn-success ml-5"%></p>
      </div>
    <!--</div>-->
    <div class="col-md-12 mb-5">
      <h5>投稿レシピ一覧</h5>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <% @recipes.each do |recipe| %>
              <div class="col-md-3 col-sm-6 mb-3">
                <div class="mb-2">
                  <%= link_to recipe_path(recipe.id) do %>
                    <%= image_tag recipe.get_image, size: "200x150", style: "object-fit: cover;" %>
                  <% end %>
                </div>
                <div class="mb-3">
                  <%= recipe.name %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% if @book.user == current_user %>
      <td><%= link_to 'Edit', edit_book_path(@book), class: "btn btn-sm btn-success" %></td>
    <% end %>
    <%= render "bookmark", bookmark: @bookmark %>
  </div>
</div>

