<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 mt-5 mb-5">
      <h2>レシピの編集</h2>
    </div>
  </div>

  <%= form_with model: @recipe, url: recipe_path do |f| %>

  <div class="row">
    <div class="col-md-6 mb-3">

      <div class="row">
        <div class="col-md-12 mb-3">
          <p>レシピ名</p>
          <%= f.text_field :name, size: "40x1" %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 mb-3">
          <p>画像</p>
          <%= f.file_field :image, accept: "image/*" %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 mb-3">
          <p>材料</p>
          <%= f.text_area :material, size: "40x5" %>
        </div>
      </div>

    </div>
    <div class="col-md-6 mb-3">

      <div class="row">
        <div class="col-md-12 mb-3">
          <p>作り方</p>
          <%= f.text_area :making, size: "50x6" %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 mb-3">
          <p>メッセージ</p>
          <%= f.text_area :message, size: "50x3" %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 mb-3">
          <p>タグ</p>
          <%= f.text_field :tag_list, value: @tags, placeholder: "複数の場合は,で区切って入力してください" %>
        </div>
      </div>

    </div>
  </div>

  <%= f.submit "変更を保存", class: "btn btn-success" %>

  <% end %>

</div>
