<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 mt-3 mb-5">
      <h3>レシピ一覧</h3>
    </div>
  </div>

  <%= render 'public/searches/search' %>

  <div class="row"><!--タグ一覧-->
    <div class="col-md-12 mb-3">
      <% @tags.each do |tag| %>
        <i class="fa-sharp fa-solid fa-tag"></i>
        <%= link_to tag.name, search_tag_path(tag_id: tag.id) %>
        (<%= tag.recipe_tags.count %>)
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <% @recipes.each do |recipe| %>
          <div class="col-md-3 col-sm-6 mb-3">
            <div class="mb-2">
              <%= link_to recipe_path(recipe.id) do %>
                <%= image_tag recipe.get_image, size: "200x150", style: "object-fit: cover;" %>
              <% end %>
            </div>
            <div class="mb-3">
              <%= recipe.name %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

