<div class="container-fluid">

  <div class="row">
    <div class="col-sm-12 mb-5">
      <h2><%= @recipe.name %></h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 mb-5">
      <%= image_tag @recipe.get_image, size: "300x200", style: "object-fit: cover;" %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 mb-5">
      <%= @recipe.material %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 mb-5">
      <%= @recipe.making %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 mb-5">
      <%= @recipe.message %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 mb-5">
      <!-- タグ -->
      <%= @tags %>
    </div>
  </div>

</div>