<div class="container">

  <div class="row">
    <div class="col-sm-12 mt-5 mb-3">
      <h2><%= @recipe.name %></h2>
    </div>
  </div>

  <div class="row">

    <div class="col-md-4 mb-5">
      <%= image_tag @recipe.get_image, size: "300x200", style: "object-fit: cover;" %>
    </div>
    <div class="col-md-8 mb-5">
      <div class="row">
        <div class="col-sm-12 mb-2">
          <strong>材料</strong>
        </div>
        <div class="col-sm-12 mb-5">
          <%= @recipe.material %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 mb-2">
          <strong>作り方</strong>
        </div>
        <div class="col-sm-12 mb-5">
          <%= @recipe.making %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 mb-2">
          <strong>コメント</strong>
        </div>
        <div class="col-sm-12 mb-5">
          <%= @recipe.message %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 mb-2">
          <strong>カテゴリー</strong>
        </div>
        <div class="col-sm-12 mb-5">
          <!-- タグ -->
          <% @recipe_tags.each do |tag| %>
            <span class="tag"><%= tag.name %></span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% if customer_signed_in? %>
    <div class="row">
      <div class="col-sm-6 mb-5">
        <%= render "bookmark", recipe: @recipe %>
      </div>
      <div class="col-sm-6 mb-5">
        <% if @recipe.customer == current_customer %>
          <%= link_to 'レシピの編集', edit_recipe_path(@recipe), class: "btn btn-sm btn-success" %>
          <%= link_to 'レシピを削除', recipe_path(@recipe), method: :delete, class: "btn btn-danger", data: {confirm: "削除しますか？"} %>
        <% end %>
      </div>
    </div>
    <div id ="comments-error"></div>
    <div id="comments-area">
      <%= render partial: "comment", locals: { recipe: @recipe, comment: @comment} %>
    </div>
  <% end %>
</div>