<div class="container">
  <div class="row">

    <div class="col-md-12">
      <div class="welcome-text">
        <div class="row">
          <div class="col-md-12 mt-5">
            <div class="text-center">
              <p>麺Voyage(メンボヤージュ)にようこそ！</p>
              <p>このサイトは、麺料理のレシピを紹介しています</p>
              <p>会員になると自分で麺料理のレシピを投稿することができます</p>
              <p>良い麺料理の旅を！</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 bt-3 mb-3">
          <h3 class="title">新着メニュー</h3>
            <div class="row">
              <% @recipes.first(4).each do |recipe| %>
              <div class="col-md-3 col-sm-6 mt-3">
                <%= link_to recipe_path(recipe.id) do %>
                  <%= image_tag recipe.get_image, size: "200x150", style: "object-fit: cover;" %>
                <% end %>
              <p><%= recipe.name %></p>
            </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row justify-content-end">
        <div class="col-md-3">
          <% if customer_signed_in? %>
            <%= link_to "レシピを投稿する", new_recipe_path, class: "btn btn-primary" %>
          <% end %>
        </div>
        <div class="col-md-3">
          <%= link_to "全てのレシピを見る＞＞", recipes_path %>
        </div>
      </div>
    </div>

  </div>
</div>
